<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
  </head>
  <body>
    <div id="layout">
      <%- body %>
    </div>
      <div id="footer">
        <a href="https://github.com/garthbosch/Entersekt_Assessment" id="gb">Code by Garth Bosch</a>
      </div>
    <script src="/javascripts/ga.js"></script>
  </body>
</html>